<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="gameDaoStub" class="com.game.data.GameDaoStubImpl"/>
    <bean id="roundDaoStub" class="com.game.data.RoundDaoStubImpl"/>

    <bean  id="service" class="com.game.service.GameServiceImpl">
        <constructor-arg ref="gameDaoStub"/>
        <constructor-arg ref="roundDaoStub"/>

    </bean>



</beans>